(
    code: "de",
    language: "Deutsch",
    t9n: {
        "title": "CODE_Circus",
        "lang_en": "Englisch",
        "lang_de": "Deutsch",
        "hide": "Verstecken",
        "show": "Anzeigen",
        "home": "Home",
        "logout": "Ausloggen",
        "login": "Einloggen",
        "register": "Benutzer Account erstellen",
        "logged_in_as": "Eingeloggt als",
        "new_article": "Neuer Artikel",
        "by_author": "von",
        "facebook": "Facebook",
        "github": "Siehe meinen Quellcode auf GitHub!",
        "editor_bold": "Fett",
        "editor_emph": "Akzent",
        "editor_under": "Unterstrich",
        "editor_strike": "Gestrichen",
        "editor_title": "Titel",
        "editor_author": "Autor",
        "editor_submit": "Veröffentlichen",
        "editor_delete": "Löschen",
        "account_username": "Benutzername",
        "account_firstname": "Vorname",
        "account_lastname": "Nachname",
        "account_email": "E-Mail",
        "account_update_email": "E-Mail aktualisieren",
        "account_password": "Passwort",
        "account_new_email": "Neue E-Mail",
        "account_update_password": "Passwort aktualisieren",
        "account_old_password": "Altes Passwort",
        "account_new_password1": "Neues Passwort",
        "account_new_password2": "Neues Passwort (nochmals)",
        "account_submit": "Aktualisieren",
        "create_username": "Benutzername",
        "create_firstname": "Vorname",
        "create_lastname": "Nachname",
        "create_email": "E-Mail",
        "create_password1": "Passwort",
        "create_password2": "Passwort (nochmals)",
        "create_submit": "Benutzer Account erstellen",
        "login_username": "Benutzername",
        "login_password": "Passwort",
        "login_submit": "Einloggen",
        "contact_title": "Kontakt",
        "contact_address": "Wir sind in der Wegstraße 42, 12345 Berlin-Mitte.",
        "impressum_title": "Impressum",
        "impressum_content": "Dies ist das Impressum.",
        "index_title": "CODE_Circus",
        "index_content": "CODE_Circus Software Solutions ist ein Indie Software Developer in Berlin-Mitte.",
        "format_strong": "f",
        "format_emph": "i",
        "format_under": "u",
        "format_strike": "s",
    },
)
