(
    code: "en",
    language: "English",
    t9n: {
        "title": "CODE_Circus",
        "lang_en": "English",
        "lang_de": "German",
        "hide": "Hide",
        "show": "Show",
        "home": "Home",
        "logout": "Logout",
        "login": "Login",
        "register": "Register a user account",
        "logged_in_as": "Logged in as",
        "new_article": "New post",
        "by_author": "by",
        "facebook": "Facebook",
        "github": "See my source code on GitHub!",
        "editor_bold": "Bold",
        "editor_emph": "Emphasise",
        "editor_under": "Underline",
        "editor_strike": "Strikethrough",
        "editor_title": "Title",
        "editor_author": "Author",
        "editor_submit": "Publish",
        "editor_delete": "Delete",
        "account_username": "User account",
        "account_firstname": "First name",
        "account_lastname": "Last name",
        "account_email": "E-Mail",
        "account_update_email": "Update E-Mail",
        "account_password": "Password",
        "account_new_email": "New E-Mail",
        "account_update_password": "Update Password",
        "account_old_password": "Old Password",
        "account_new_password1": "New Password",
        "account_new_password2": "New Password (again)",
        "account_submit": "Update",
        "create_username": "Username",
        "create_firstname": "First name",
        "create_lastname": "Last name",
        "create_email": "E-Mail",
        "create_password1": "Password",
        "create_password2": "Password (again)",
        "create_submit": "Register user account",
        "login_username": "Username",
        "login_password": "Password",
        "login_submit": "Login",
        "contact_title": "Contact",
        "contact_address": "We are in the Wegstraße 42, 12345 Berlin-Mitte.",
        "impressum_title": "Impressum",
        "impressum_content": "This is the Impressum.",
        "index_title": "CODE_Circus",
        "index_content": "CODE_Circus Software Solutions is an Indie Software Developer in Berlin-Mitte.",
        "format_strong": "b",
        "format_emph": "i",
        "format_under": "u",
        "format_strike": "s",
    },
)
