(
    code: "pl",
    language: "Polski",
    t9n: {
        "title": "CODE_Circus",
        "lang_en": "Angielski",
        "lang_de": "Niemiecki",
        "hide": "Schowaj",
        "show": "Pokaż",
        "home": "Strona główna",
        "logout": "Wyloguj",
        "login": "Zaloguj",
        "register": "Rejestracja",
        "logged_in_as": "Zalogowany jako",
        "new_article": "Nowy artykuł",
        "by_author": "opublikowano przez",
        "facebook": "Facebook",
        "github": "Zobacz mój kod źródłowy na GitHub'ie!",
        "editor_bold": "Grube",
        "editor_emph": "Akcent",
        "editor_under": "Podkreślone",
        "editor_strike": "Przekreślone",
        "editor_title": "Tytuł",
        "editor_author": "Autor",
        "editor_submit": "Opublikuj",
        "account_username": "Nazwa użytkownika",
        "account_firstname": "Imię",
        "account_lastname": "Nazwisko",
        "account_email": "E-Mail",
        "account_update_email": "Zaktualizuj e-Mail",
        "account_password": "Hasło",
        "account_new_email": "Nowy e-Mail",
        "account_update_password": "Zaktualizuj hasło",
        "account_old_password": "Stare hasło",
        "account_new_password1": "Nowe hasło",
        "account_new_password2": "Nowe hasło (ponownie)",
        "account_submit": "Zaktualizuj",
        "create_username": "Nazwa użytkownika",
        "create_firstname": "Imię",
        "create_lastname": "Nazwisko",
        "create_email": "E-Mail",
        "create_password1": "Hasło",
        "create_password2": "Hasło (ponownie)",
        "create_submit": "Zarejestruj",
        "login_username": "Nazwa użytkownika",
        "login_password": "Hasło",
        "login_submit": "Zaloguj",
        "contact_title": "Kontakt",
        "contact_address": "Jesteśmy na Wegstraße 42 w 12345 Berlin-Mitte.",
        "impressum_title": "Impressum",
        "impressum_content": "To jest Impressum.",
        "index_title": "CODE_Circus",
        "index_content": "CODE_Circus Software Solutions to niezależny software developer w Berlin w dzielnicy Mitte.",
        "format_strong": "b",
        "format_emph": "i",
        "format_under": "u",
        "format_strike": "s",
    },
)
